@font-face {
  font-family: "iconfont"; /* Project id 3361558 */
  src: url('iconfont.woff2?t=1659498020136') format('woff2'),
       url('iconfont.woff?t=1659498020136') format('woff'),
       url('iconfont.ttf?t=1659498020136') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-beian:before {
  content: "\e635";
}

.icon-icon-user:before {
  content: "\e645";
}

.icon-shangla1:before {
  content: "\e62a";
}

.icon-xiala1:before {
  content: "\e619";
}

.icon-tianjia:before {
  content: "\e7db";
}

.icon-shangla:before {
  content: "\e60a";
}

.icon-xiala:before {
  content: "\e6b9";
}

.icon-sousuo:before {
  content: "\e6a7";
}

.icon-kulian:before {
  content: "\e600";
}

.icon-shijian:before {
  content: "\e609";
}

.icon-biaoqian:before {
  content: "\e687";
}

.icon-liulanliang:before {
  content: "\e611";
}

.icon-fenlei:before {
  content: "\e631";
}

.icon-home1:before {
  content: "\e77c";
}

.icon-bug:before {
  content: "\e6c0";
}

.icon-tools:before {
  content: "\e62d";
}

